# Mengabaikan virtual environment
leaderboard.json
game_history.json
mistake_log.json
player_history.json
venv/
ENV/
env/

# Mengabaikan cache Python
__pycache__/
*.pyc

# Mengabaikan file log/history lokal jika tidak ingin di-push
*.log